body {
  font-family: sans-serif;
}

section {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  display: none;
}

ul.selected {
  display: block;
}

.subheader {
  width: 600px;
  background-color: rgb(177, 177, 255);
  padding: 10px;
  border-radius: 3px;
  color: darkblue;
  margin: 0;
}

.destination:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top: 1px solid lightgray;
}

.destination:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.destination {
  width: 600px;
  background-color: white;
  padding: 10px;
  color: black;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.destination:hover {
  background-color: rgb(34, 34, 255);
  color: white;
}

.selection {
  width: 600px;
  background-color: rgb(182, 255, 182);
  padding: 10px;
  border-radius: 3px;
  color: black;
  display: none;
}

.selection.selected {
  display: block;
}

button {
  background-color: rgb(34, 34, 255);
  align-self: flex-end;
  padding: 8px 20px;
  color: white;
  font-weight: 300;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(2, 2, 224);
}
